body{
  background-color: black;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
width: fit-content;
}
.flex-content{
flex: 1 0 auto;
}
@font-face {
  font-family: Oswald;
  src: url(../fonts/Oswald.ttf);
}

* {padding: 0; margin: 0;}
.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
      background: #1ed761;
}

.logo {
  margin: 0 0 0 .45em;
}
.logo:hover{

}
    .logo a {
      color: rgb(28, 24, 22);
    }

    .logo, .navigation {
        list-style: none;
        text-transform: uppercase;
    }

    .logo a, .navigation a {
        text-decoration: none;
        letter-spacing: .45rem;
    }
    .deezer{
      width:20%;
      height:auto;
    }

.navigation  {
  display: flex;

}

.navigation a {
  font-family: Oswald;
  display: flex;
  padding: 1em 3em 1em 3em;
  color: black;
  font-weight: bold;
  font-size: 25px;
  align-items: center;

}
.navigation a:hover {
    color:white;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}
.navigation li {
  font-family: Oswald;
  display: block;
  padding: 1em 3em 1em 3em;
  color: black;
  font-weight: bold;
  font-size: 20px;
}
.navigation-footer  {
  display: flex;
}

.navigation-footer a {
  font-family: Oswald;
  display: block;
  padding: 1em 3em 1em 3em;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.navigation-footer li {
  font-family: Oswald;
  display: block;
  padding: 1em 3em 1em 3em;
  color: black;
  font-weight: bold;
  font-size: 20px;
}


/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .deezer{
    width:40%;
    height:auto;
  }
  .flex-container {
    flex-direction: column;
    background-color: #1ed761;
  }

  .logo {
  margin: 0 auto;
  display: flex;
}

  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
  .navigation-footer  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {

  .logo {
    margin: 0 auto;
    align-self: center; /* align the logo to the left side of 'flex-container' */
    display: flex;
}
.deezer{
  width:20%;
  height:auto;
}

  .navigation {
    flex-direction: column;

  }

  .navigation a {
    font-family: Oswald;
    font-size: 5%;
    text-align: center;
    padding: 10px;
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
  .navigation-footer {
    flex-direction: column;

  }

  .navigation-footer a {
    font-family: Oswald;
    font-size: 5%;
    text-align: center;
    padding: 10px;

  }

  .navigation-footer li:last-of-type a {
    border-bottom: none;
  }
}
.img-responsive{
width:100%;
height: auto;
}
.footer {
  background-color: #1ed761;
  flex-shrink: 0;
  padding: 15px;
  display: flex;

}
